.bg {
  position: relative;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.titlePosition {
  position: absolute;
  top: 25%;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  opacity: 1;
  text-align: center;
}

.firstTitle {
  text-shadow: 2px 2px 2px white;
  font-size: 500%;
}

.secondTitle {
  text-shadow: 0.65px 0.65px 0px white;
}

.fab {
  margin: 5px;
  cursor: pointer;
}
