.card-img-top {
  height: 300px;
  border-bottom: black solid 1px;
}

.child {
  display: inline-block;
  margin: 0 auto;
  min-width: 350px;
}

.description {
  min-height: 125px;
}

.projectButton {
  margin: 3px;
}
