.navElements {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.75%;
  background-color: #646c79;
  text-align: center;
  z-index: 1;
}

.navElement {
  display: inline;
  margin: 1%;
}

.anchor {
  font-family: "Alfa Slab One", cursive;
  color: #000000;
}
