h1 {
  font-family: "Alfa Slab One", cursive;
  font-size: 300%;
  color: black;
  text-shadow: 2px -2px 2px grey;
}

.infoBlock {
  scroll-margin-top: 70px;
  margin: 0.5%;
  margin-bottom: 4%;
}

.internalElements {
  margin: 0.5%;
}
